[Unit]
Description=LGHS Student Discovery Agent
After=avahi-daemon.service
ConditionPathExists=/etc/lghs/role

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/lghs-agent
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
