[Unit]
Description=LGHS Live Update
After=local-fs.target
ConditionPathExists=/etc/lghs/role

[Service]
Type=oneshot
EnvironmentFile=-/etc/lghs/update.env
ExecStart=/usr/local/sbin/lghs-update
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6

[Install]
WantedBy=multi-user.target
